services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3333:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
    command: npm run dev
